/* Tutaj wklej cały podany przez Ciebie kod CSS */

/* Dodatkowe style */

body {
  color: white;
}

button {
  background-color: white;
  color: black;
  margin: 10px;
  padding: 5px;
}

textarea {
  background-color: rgba(30, 30, 30, 0.8);
  color: white;
  margin-bottom: 10px;
  overflow-y: scroll;
  white-space: nowrap;
}

#results {
  background-color: rgba(30, 30, 30, 0.8);
  color: white;
  margin-top: 10px;
  padding: 10px;
  overflow-y: scroll;
  height: 300px;
  width: 100%;
}

.highlighted {
  font-weight: bold;
  color: #ff0033;
}
